/*! normalize.css v1.0.0 | MIT License | git.io/normalize */
     
/* ==========================================================================
    HTML5 display definitions
    ========================================================================== */
     
/*
 * 在IE 6/7/8/9 和 Firefox 3未定义的，设置成display:block
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
     
    /*
    * IE 6/7/8/9 和 Firefox 3中未设置的，定义成：display:inline-block.
    */
     
    audio,
    canvas,
    progress,
    video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    }
     
    /*
    * Prevents modern browsers from displaying `audio` without controls.
    * Remove excess height in iOS 5 devices.
    */
     
    audio:not([controls]) {
    display: none;
    height: 0;
    }
     
    /*
    * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
    * and Safari 4.
    * Known issue: no IE 6 support.
    */
     
    [hidden] {
    display: none;
    }
     
    /* ==========================================================================
    Base
    ========================================================================== */
     
    /*
    * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
    * `em` units.
    * 2. Prevents iOS text size adjust after orientation change, without disabling
    * user zoom.
    */
     
    html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
    }
     
    /*
    * Addresses `font-family` inconsistency between `textarea` and other form
    * elements.
    */
     
    html,
    button,
    input,
    select,
    textarea {
    font-family: sans-serif;
    }
     
    /*
    * Addresses margins handled incorrectly in IE 6/7.
    */
     
    body {
    margin: 0;
    }
     
    /* ==========================================================================
    链接
    ========================================================================== */
     
    /*
    * Addresses `outline` inconsistency between Chrome and other browsers.
    */
     
    a:focus {
    outline: thin dotted;
    }
     
    /*
    * 鼠标击中，悬浮其上，去掉外框。
    */
     
    a:active,
    a:hover {
    outline: 0;
    }
     
    /* ==========================================================================
    Typography
    ========================================================================== */
     
    /*
    * Addresses font sizes and margins set differently in IE 6/7.
    * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
    * and Chrome.
    */
     
    h1 {
    font-size: 200%;
    margin: 0.67em 0;
    }
     
    h2 {
    font-size: 160%;
    margin: 0.83em 0;
    }
     
    h3 {
    font-size: 150%;
    margin: 1em 0;
    }
     
    h4 {
    font-size: 140%;
    margin: 1.33em 0;
    }
     
    h5 {
    font-size: 130%;
    margin: 1.67em 0;
    }
     
    h6 {
    font-size: 120%;
    margin: 2.33em 0;
    }
     
    /*
    * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
    */
     
    abbr[title] {
    border-bottom: 1px dotted;
    }
     
    /*
    * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
    */
     
    b,
    strong {
    font-weight: bold;
    }
     
    blockquote {
    margin: 1em 10px 1em 20px;
    }
     
    /*
    * Addresses styling not present in Safari 5 and Chrome.
    */
     
    dfn {
    font-style: italic;
    }
     
    /*
    * 强调色，6/7/8/9未设定，此处补充设定。
    */
     
    mark {
    background: #ff0;
    color: #000;
    }
     
    /*
    * Addresses margins set differently in IE 6/7.
    */
     
    p,
    pre {
    margin: 1em 0;
    }
     
    /*
    * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
    */
     
    code,
    kbd,
    pre,
    samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
    }
     
    /*
    * Improves readability of pre-formatted text in all browsers.
    */
     
    pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    }
     
    /*
    * Addresses CSS quotes not supported in IE 6/7.
    */
     
    q {
    quotes: none;
    }
     
    /*
    * Addresses `quotes` property not supported in Safari 4.
    */
     
    q:before,
    q:after {
    content: '';
    content: none;
    }
     
    small {
    font-size: 75%;
    }
     
    /*
    * 上下标Prevents `sub` and `sup` affecting `line-height` in all browsers.
    */
     
    sub,
    sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    }
     
    sup {
    top: -0.5em;
    }
     
    sub {
    bottom: -0.25em;
    }
     
    /* ==========================================================================
    列表
    ========================================================================== */
     
    /*
    * Addresses margins set differently in IE 6/7.
    */
     
    dl,
    menu,
    ol,
    ul {
    margin: 1em 0;
    }
     
    dd {
    margin: 0 0 0 40px;
    }
     
    /*
    * Addresses paddings set differently in IE 6/7.
    */
     
    menu,
    ol,
    ul {
    padding: 0 0 0 40px;
    }
     
    /*
    * Corrects list images handled incorrectly in IE 7.
    */
     
    nav ul,
    nav ol {
    list-style: none;
    list-style-image: none;
    }
     
    /* ==========================================================================
    Embedded content
    ========================================================================== */
     
    /*
    * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
    * 2. Improves image quality when scaled in IE 7.
    */
     
    img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
    }
     
    /*
    * Corrects overflow displayed oddly in IE 9.
    */
     
    svg:not(:root) {
    overflow: hidden;
    }
     
    /* ==========================================================================
    Figures浮层
    ========================================================================== */
     
    /*
    * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
    */
     
    figure {
    margin: 0;
    }
     
    /* ==========================================================================
    表单
    ========================================================================== */
     
    /*
    * Corrects margin displayed oddly in IE 6/7.
    */
     
    form {
    margin: 0;
    }
     
    /*
    * Define consistent border, margin, and padding.
    */
     
    fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    }
     
    /*
    * 1. Corrects color not being inherited in IE 6/7/8/9.
    * 2. Corrects text not wrapping in Firefox 3.
    * 3. Corrects alignment displayed oddly in IE 6/7.
    */
     
    legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
    }
     
    /*
    * 1. Corrects font size not being inherited in all browsers.
    * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
    * and Chrome.
    * 3. Improves appearance and consistency in all browsers.
    */
     
    button,
    input,
    select,
    textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
    }
     
    /*
    * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
    * the UA stylesheet.
    */
     
    button,
    input {
    line-height: normal;
    }
     
    /*
    * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
    * and `video` controls.
    * 2. Corrects inability to style clickable `input` types in iOS.
    * 3. Improves usability and consistency of cursor style between image-type
    * `input` and others.
    * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
    * Known issue: inner spacing remains in IE 6.
    */
     
    button,
    html input[type="button"], /* 1 */
    input[type="reset"],
    input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible; /* 4 */
    }
     
    /*
    * Re-set default cursor for disabled elements.
    */
     
    button[disabled],
    input[disabled] {
    cursor: default;
    }
     
    /*
    * 1. Addresses box sizing set to content-box in IE 8/9.
    * 2. Removes excess padding in IE 8/9.
    * 3. Removes excess padding in IE 7.
    * Known issue: excess padding remains in IE 6.
    */
     
    input[type="checkbox"],
    input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
    }
     
    /*
    * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
    * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
    * (include `-moz` to future-proof).
    */
     
    input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
    }
     
    /*
    * Removes inner padding and search cancel button in Safari 5 and Chrome
    * on OS X.
    */
     
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    }
     
    /*
    * Removes inner padding and border in Firefox 3+.
    */
     
    button::-moz-focus-inner,
    input::-moz-focus-inner {
    border: 0;
    padding: 0;
    }
     
    /*
    * 1. Removes default vertical scrollbar in IE 6/7/8/9.
    * 2. Improves readability and alignment in all browsers.
    */
     
    textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
    }
     
    /* ==========================================================================
    表格
    ========================================================================== */
     
    /*
    * 删除表格单元间的空格
    */
     
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }

    /* ==========================================================================
    重置结束，下面开始定制
    ========================================================================== */
    
/*****************************************************************************/
/*
/* 通用设置
/*
/*****************************************************************************/
body {
    background-color: #F5F4E0;
}

/*****************************************************************************/
/*
/* 文内样式
/*
/*****************************************************************************/

/* :::: 反馈设置 :::: */

h1,h2,h3,h4,h5,h6,p,li,
p code,li code,pre,th,td,blockquote,aside,footer,
.post-categories a,
{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


/* :::: 文档结构样式 :::: */
/* 或者颜色 #6C71C4 在小屏幕上好看 加文本阴影？ */
h1,
h2,
h3,
h4,
h5,
h6 {
    background-color: rgba(255,255,255,0.5);
    color:#303030;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
    background-color: rgba(255,255,255,1);
    color: black;
}

h1 {
    text-align: center;
    padding: 20px 10px;
    margin: 0;
}
h2,
h3,
h4,
h5,
h6 {
    padding: 15px 5px 10px 40px;;
}

.post-abstract {
    padding: 5px 20px;
    margin-top: 0;
    background-color: #C0FFC0;
    border-bottom: 1px solid #DCDCDC;
    border-top: 1px solid #DCDCDC;
}

.meta {
    color: #aaa;
    font-size: 80%;
    text-align: right;
}

/* 上篇 话题 下篇 */
.post-shift {
    display: block;
    right: -3px;
    bottom: -2px;
    position: fixed;
    z-index: 2;
    
    border: 1px solid white;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    
    box-shadow: 0 0 10px #c3c3c3;
    -moz-box-shadow: 0 0 10px #c3c3c3;
    -webkit-box-shadow: 0 0 10px #c3c3c3;
}
.post-pre a,
.back-top a,
.post-next a {
    color: white;
}

.post-pre,
.back-top,
.post-next {
    display: block;
    float: left;
    content: none;
    
}
.post-pre {
    text-align: right;
    background-color: rgba(220,220,220,0.75);
}
.post-pre:hover {
    background-color: rgba(255,0,0,0.95);
    padding-right: 10px;
}

.back-top {
    text-align: center;
    background-color: rgba(200,200,200,0.75);
}

.back-top:hover {
    background-color: rgba(0,255,0,0.95);
    padding-bottom: 10px;;
}

.post-next {
    background-color: rgba(180,180,180,0.75);
    
}

.post-next:hover {
    background-color: rgba(0,0,255,0.95);
    padding-right: 10px;
}

/* 相关推荐 */

.post-relative {
    display: block;
    right: 0;
    bottom: 5px;
    position: fixed;
    z-index: 3;
}

/* :::: 内容设定 :::: */

p {
    padding: 0 10px;
}

p:hover {
    background: rgba(255,255,255,0.5);
    color: #303030;
}

/* :::: 链接样式 :::: */

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
}

a,
sup,
.post-pre,.back-top,.post-next {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

a {
    color: #303030;
}
a:hover {
    color: white;
}
a:active {
    color: black;
}
a:visited {
}

.post-header a,
.post-content a {
    text-shadow: 0px 0px 10px black;
    
}

.post-content a {
    padding: 0 10px;
    margin: 0 5px;
    
}

.post-header a:hover,
.post-content a:hover {
    text-shadow: 0px 0px 10px blue;

}

.post-header a:active,
.post-content a:active {
    text-shadow: 0px 0px 10px gold;
    
}

.post-header a:visited,
.post-content a:visited {
    color: #E0E0FF;
    text-shadow: 0px 0px 15px #585858;
    
}

/* :::: 文内列表属性 :::: */

ol>:first-child {
    border-top: 1px solid #dcdcdc;
}

ul>:first-child {
    border-top: 1px solid #dcdcdc;
}

li {
    border-bottom: 1px solid #dcdcdc;
    padding: 5px 0px 5px 10px;
    
}

li:hover {
    background: rgba(255,255,255,0.5);
}

/* ::代码块设定：code是行内，pre是多行:: */
/* 高亮另外设置 */

p code,
li code {
    padding: 0 5px;
    color: gray;
    background-color: #eef;
    
    border-left: 5px solid #c3c3c3;
    border-right: 5px solid #c3c3c3;

}
p code:hover,
li code:hover {
    color: black;
    
    background: rgba(238,238,255,0.5);
    border-left: 5px solid #dcdcdc;
    border-right: 5px solid #dcdcdc;

}

pre {
    color: #303030;
    background-color: #C0FFC0;
    border-left: 5px ridge #c3c3c3;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    box-shadow: 0px 0 15px #c3c3c3;
    -moz-box-shadow: 0px 0 15px #c3c3c3;
    -webkit-box-shadow: 0px 0 15px #c3c3c3;

    padding: 15px 0px 15px 15px;

}

pre:hover {
    color: black;
    background-color: #F5F4E0;
}

/* 终端命令行 */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code {
    background-color: #333;
}

/* 代码块行数飞到右侧 整行下划线 */
.lineno,
.linenr {    
    color: #cccccc;
    margin: 0 0 -20px -20px;
    padding: 2px 0;
    position: relative;
    display: block;
    left: 15px;
    width: 99%;
    text-align: right;
    border-bottom: 1px solid #F5F4E0;
}
.lineno:hover,
.linenr:hover {
    color: white;
    background-color: rgba(255,255,255,0.50);
}

.code-highlighted {
    color: black;
}

/* :::: 表格 :::: */

table {
    border-top: 3px solid #c3c3c3;
    border-bottom: 3px solid #c3c3c3;
    box-shadow: 0 0 10px #c3c3c3;
    -moz-box-shadow: 0 0 10px #c3c3c3;
    -webkit-box-shadow: 0 0 10px #c3c3c3;
}

th {
    color: white;
    background: #BBBBFF;
    padding: 10px;
}

th:hover {
    color: white;
    background: #6C71C4;
}

th, td {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

td {
    background-color: #F5F4E0;
    padding: 5px;
}

td:hover {
    background-color: #C0FFC0;
}

/* :::: 其他 :::: */

sup {
    background-color: rgba(160,160,160,0.75);
    color: white;
    padding: 0 5px;
    margin-left: -6px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

sup:hover {
    color: white;
    background-color: black;
    
}

blockquote {
    background: #FDF7F7;

    padding: 5px 5px 5px 5px;
    border-left: 5px solid #BBBBFF;
}

blockquote:hover {
    background: #DEDFFF;
}

hr {
}

figure {

}
figcaption {

}

article img {
    max-width: 600px;
}

/*****************************************************************************/
/*
/* 六锚点设置
/*
/*****************************************************************************/
/* 统一的设定：大小，展现方式，位置，反馈，屏幕大小 */

.left-bottom-hook,.right-bottom-hook,.left-middle-hook,.right-middle-hook,.left-top-hook,.right-top-hook {
    width: 50px;
    height: 50px;
    display: block;
    position: fixed;
    z-index: 8000;
}
.left-bottom-hook:hover,.right-bottom-hook:hover,.left-middle-hook:hover,.right-middle-hook:hover,.left-top-hook:hover,.right-top-hook:hover {
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}

.activate {
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -o-transform: scale(0.75);
    -ms-transform: scale(0.75);
}

@media all and (max-width: 36em) {
    .left-bottom-hook {
    }
}

.left-middle-hook,.right-middle-hook,.left-top-hook,.right-top-hook {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #ffffff;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    
    -webkit-box-shadow: 0 0 40px #dcdcdc;
    -moz-box-shadow: 0 0 40px #dcdcdc;
    box-shadow: 0 0 40px #dcdcdc;
}

.left-middle-hook:hover,.right-middle-hook:hover,.left-top-hook:hover,.right-top-hook:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(0.75);
    -ms-transform: scale(0.75);
     
    -webkit-box-shadow: 0 0 70px gold;
    -moz-box-shadow: 0 0 70px gold;
    box-shadow: 0 0 70px gold;
}



/* 左下角锚点 */

.left-bottom-hook {
    left: -5px;
    bottom: -5px;
    float: left;
    background: transparent url(/static/logo.png) no-repeat ;
    background-size: 50px 50px;

    content: none;
    
    border: 2px ridge #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px; 

    -webkit-box-shadow: 0 0 20px #666666;
    -moz-box-shadow: 0 0 20px #666666;
    box-shadow: 0 0 20px #666666;
}

.left-bottom-hook:hover {
    transform: scale(1.25) rotate(40deg);
    -moz-transform: scale(1.25) rotate(40deg);
    -webkit-transform: scale(1.25) rotate(40deg);
    -o-transform: scale(1.25) rotate(40deg);
    -ms-transform: scale(1.25) rotate(40deg);

}
.activate {
    -moz-transform: scale(0.75);
    -webkit-transform: scale(0.75);
    -o-transform: scale(0.75);
    -ms-transform: scale(0.75);
}

/* 右下角锚点 */
.right-bottom-hook {
    right: -27px; 
    bottom: -27px;
    float: right;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #ffffff;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    box-shadow: 0 0 40px #666666;
    -moz-box-shadow: 0 0 40px #666666;
    -webkit-box-shadow: 0 0 40px #666666;
}
.right-bottom-hook:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    box-shadow: 0 0 70px gold;
    -moz-box-shadow: 0 0 70px gold;
    -webkit-box-shadow: 0 0 70px gold;
}

/* 左中锚点 */
.left-middle-hook {
    top: 60%;
    left: -28px;
    float: left;
}

/* 右中锚点 */
.right-middle-hook {
    top: 60%;
    right: -28px;
    float: right;
}

/* 左上锚点 */
.left-top-hook {
    top: -28px;
    left: -28px;
    float: left;
}

/* 右上锚点 */
.right-top-hook {
    top: -28px;
    right: -28px;
    float: right;
}

@media all and (max-width: 36em) {
    .left-middle-hook,
    .right-middle-hook {
      top: 50%;
    }
}

/*****************************************************************************/
/*
/* 六点菜单设置
/*
/*****************************************************************************/
nav {
    position: fixed;

    font-size: 85%;
    text-align: left;
    
    max-height: 80%;
    min-height: 40%;
    width: 350px;

    /*background: white repeat scroll 0 0 black;*/
    background: rgba(255, 255, 255, 0.75);

    z-index: 800;
}

.site-nav {
  bottom: 8%;
  left: -5px;
}
.outline {
  bottom: 8%;
  right: 0;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.site-nav li,
.outline li {
    margin-left: -40px;
}

.toc-h3 {
    padding-left: 20px;
}
.toc-h4 {
    padding-left: 40px;
}

nav li,
.post-list li {
    padding: 0;
    
}
nav li a {
    display: block;
    padding: 10px 20px;
    background: #eee;
    border-left: 5px solid white;
}

nav li a:hover,
.post-list li a:hover {
    background-color: #6C71C4;
    border-left: 5px solid yellow;
}



.post-date {
    float: right;
    color: #dcdcdc;
    margin-right: 10px;
    font-size: 80%;
}

.post-description {
    color: #c3c3c3;
    font-size: 80%;
}

.post-list li a {
    background: white;
    display: block;
    padding: 5px 0 5px 20px;
}

.post-list {
    margin-left: -1.5em;
}

.post-list a:visited {
    color: gray;
    background: #eee;
}

.site-nav,
.post-list,
.nav-page,
.system-info,
.site-map,
.system-action,
.page-action,
.outline,
.toc,.table-of-content {
    list-style: none;
    list-style-image: none;
}

#table-of-contents {

}
#table-of-contents #TOC,
#table-of-contents #text-table-of-contents {

}

/* 屏幕大时，菜单内容宽屏陈列，小时列表 */
@media all and (max-width: 36em) {
    .post-list li {
       diplay: block;
       float: left;
       
       width: 49%;
       height: 70px;
       border: 1px solid #F5F4E0;
    }
    .post-list li a {
        height: 60px;
        padding: 5px 0 5px 5px;
    }
    .post-list {
    margin-left: -2.0em;
    }
    .subject-head {
        
        float: left;
        width: 100%;
    }
}

/* 屏幕超大时菜单悬浮，小时隐藏 */
@media all and (min-width: 128em) {

}

/*****************************************************************************/
/*
/* 直观话题设定
/*
/*****************************************************************************/
.subject-archive {

}

.tag-vision {
    
}

.tag-vision:hover {
    
}

.subject-vision li {
    list-style: none;
    margin-left: -40px;
    padding: 0;
}
.subject-vision li a {
        display: block;
    padding: 10px 20px;
    background: #eee;
}
.subject-vision li a:hover {
    background-color: #6C71C4;
}


/*****************************************************************************/
/*
/* 临时消息窗设定
/*
/*****************************************************************************/

.flash {
    z-index: 9000;
    
}

.notice {

}
.flash .ok {
    background: rgba(217, 236, 257, 0.75) url(../images/ok.png) no-repeat scroll 10px center;
}
.flash .warning {
    background: rgba(255, 243, 131, 0.75) url(../images/warning.png) no-repeat scroll 10px center;
}
.flash .error {
    background: rgba(249, 197, 194, 0.75) url(../images/error.png) no-repeat scroll 10px center;
}
.flash .info {
    background: rgba(238, 238, 255, 0.75) url(../images/info.png) no-repeat scroll 10px center;
}

/*****************************************************************************/
/*
/* 其他交互设定
/*
/*****************************************************************************/
dialog {
    
}
/* 注册登录 */
.layer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    z-index: 900;
}

.login {
    top: 30%;
    left: 30%;
    right: 30%;
    position: absolute;
    padding: 0;
    background-color: rgba(255,255,255,0.7);
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    box-shadow: 0 0 20px black;
    -moz-box-shadow: 0  0 20px black;
    -webkit-box-shadow: 0 0 20px black;
}

/*****************************************************************************/
/*
/* 批注
/*
/*****************************************************************************/

aside {
    background: #FDF7F7;

    padding: 10px 10px 10px 10px;
    border-left: 8px double gold;
}

aside:hover {
    background: #C0FFC0;
}

/*****************************************************************************/
/*
/* 底部设定
/*
/*****************************************************************************/
footer {
    font-size: 80%;
    border-top: 10px dotted gray;
    padding-top: 15px;
}

footer ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
footer li {
    width: 48%;
    height: 70px;
    display: block;
    float: left;
    position: relative;
    border: 1px dotted white;
    color: gray;
    background-color: #eeeeee;
}

footer li:hover {
    background-color: #dcdcdc;
    color: #303030;
}

footer li span {
    display: block;
    float: left;
    width: 100%;
}

footer .rss-img {

}

/* 屏幕小时列表 */
@media all and (max-width: 36em) {
    footer li {
        width: 90%;

    }
}

/*****************************************************************************/
/*
/* 大学屏幕显示元素变化:display:none;
/*
/*****************************************************************************/

@media all and (max-width: 36em) {

}

@media all and (min-width: 36em) {

}

/*****************************************************************************/
/*
/* 语法高亮
/*
/*****************************************************************************/

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

