---
layout: page
title: 分类查看
description: "分类查看"
categories: category
permalink: /分类列表/
--- 

<section class="subject-archive">
  <div class="subject-vision">
  <ul>
    {% for category in site.categories %}
    <li>
      <a href="/分类列表/#{{ category[0] }}-ref">■ {{ category[0] | join: "/" }}：{{ category[1].size }}</a>
    </li>
    {% endfor %}
 </ul>
  </div>
</section>

<section class="subject-archive">

    {% for category in site.categories %}
    <div class="subject">
      <h2 class="subject-head" id="{{ category[0] }}-ref">
       ■ {{ category[0] | join: "/" }}
      </h2>
      
      <ul class="post-list">
        {% for post in category[1] %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}
          <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
          </a>
        </li>
        
        {% endfor %}
      </ul>
      
    </div>
    {% endfor %}

</section>

