---
layout: default
title: 黑传说——乌抵天明
---

<div id="home">
  <div class="index-show">
    <div class="sky">
      <div class="sun"></div>
      <div class="horizon"></div>      
    </div>
    <p class="site-name"> {{ site.title }} </p>
    <p class="slogan">——{{ site.description }}</p>
    <img src="static/atlas.png">
    <div class="index-maxim">
      <p><b>作者：黑传说</b></p> 
      <p>泰山不让土壤，故能成其大；河海不择细流，故能就其深；王者不却众庶，故能明其德。</p>
      <p>——李斯《谏逐客令》</p>
    </div>
  </div>

  <div class="index-category">
    <div class="subject-vision">
      <ul>
        {% for category in site.categories %}
        <li>
          <a href="/分类列表/#{{ category[0] }}-ref">■ {{ category[0] | join: "/" }}：{{ category[1].size }}</a>
    </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>  



