<footer class="site-footer">
  <ul>
    <li>
      <span>©2015版权所有：黑传说</span>
      <span>欢迎转载，请注明出处并保留原文链接，谢谢合作！</span>
    </li>
    <li>
    <span>{{ site.title }}——{{ site.description }}</span>
    <span>玄鸟负日，光明万丈</span>
    </li>    
    <li>
    <span><a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
    <span><a href="{{ "/feed.xml" | prepend: site.baseurl }}">戳此处关注我</a></span>
    <span><a href="https://github.com/jobinson99">我的开发仓库</a></span>
    </li>    
    <li>
      <span>致谢： </br>
        <a href="http://www.github.com">空间：github</a>，
        <a href="http://jekyllrb.com">构建：jekyll</a>，
        <a href="http://freenom.com/">域名：freenom</a>，
        以及一切对本人有帮助的人事物！</span>
      <span>
        <!--百度统计-->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fcc95332ab242dd5093ad15fa3eecb313' type='text/javascript'%3E%3C/script%3E"));
</script>

      </span>
    </li>
  </ul>
</footer>


    
