<!-- 文章页面尾部设定 -->
<div class="post-end">
  
  <!-- 有言评论 -->
  <div id="uyan_frame">
    <h2>■评论</h2>
  </div>
  <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1921243"></script>

  <!-- 结束有言评论 -->

  <div class="post-shift">

    <!--上一篇 话题 下一篇-->
    {% if page.previous %}
    <div class="post-pre">
      <a href="{{ page.previous.url }}">{{ page.previous.title | truncatewords:5 }}◁◀前篇</a>
    </div>
    {% endif %}
    
    <!--回到头部-->
    <div class="back-top"><a href="#{{ page.title }}">△▲回头▲△</a></div> 
    
    {% if page.next %}
    <div class="post-next">
      <a href="{{ page.next.url }}">后篇▶▷{{ page.next.title | truncatewords:5 }}</a>
    </div>
    {% endif %}
    
  </div>

  <!--页面底部自动浮现-->
  <div class="post-reletive">
    <!--相关文章-->

  </div>

</div>
