/*****************************************************************************/
/*
/* 文内样式
/*
/*****************************************************************************/

/* :::: 文章多屏显示 :::: */

.post {
    overflow-y: hidden;
    overflow-x: auto;
    
    height: 95vh;
    width: auto;
    
    -webkit-column-width: 520px;
    -moz-column-width: 520px;
    column-width: 520px;
    
    -webkit-column-rule: 20px solid #9F9F92;
    -moz-column-rule: 20px solid #9F9F92;
    column-rule: 20px solid #9F9F92;
    
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    
    word-wrap: break-word;      /*英文断开字母*/
    margin: 10px 20px;

    background-color: #F5F4E0;

    box-shadow: 0px 0 55px black;
    -moz-box-shadow: 0px 0 55px black;
    -webkit-box-shadow: 0px 0 55px black;
}

article {
    padding: 15px;
}

@media all and (max-height: 36em) and (max-width: 36em) {
    .post {
        height: -moz-min-content;
        overflow-x: auto;
        
        -webkit-column-width: 95%;
        -moz-column-width: 95%;
        column-width: 95%;
        
        margin: 0;
    }
    article {
        padding: 0;
    }
}


/* :::: 文章底部设定 :::: */


/*****************************************************************************/
/*
/* 首页设定
/*
/*****************************************************************************/
#home {
    background-color: #F5F4E0;
    width: 100%;
    height: 100%;
}
.index-show {
    text-align: center;
}

.site-name,
.slogan {
    text-shadow: #ee3333 -20px 0px 8px, #33ee33 20px 0px 5px;
    z-index: 202;
}

.site-name {
    font-size: 350%;
    font-weight: bold;
    padding-top: 15px;
    margin-bottom: 10px;
}
.slogan {
    font-size: 200%;
    font-style: italic;
}
@media all and (max-width: 36em) {
    .site-name {
        font-size: 250%;
    }
    .slogan {
        font-size: 150%;
    }
}

.index-maxim {
    background: #BBBBFF;
    font-size: 90%;

    padding: 5px 5px 5px 5px;
    display: block;
    margin: 1em 0;
    
    
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.index-maxim:hover {
    background: #DEDFFF;
}

.sky {
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 201;
    -webkit-animation-name: skylight;
    -webkit-animation-duration: 30s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: skylight;
    -moz-animation-duration: 30s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
}
@-webkit-keyframes skylight {
    0% {background-color: rgba(0,0,0,0.75);}
    10% {background-color: rgba(200,200,200,0.75);}
    20% {background-color: rgba(255,255,255,0.55);}
    50% {background-color: rgba(255,255,255,0.25);}
    80% {background-color: rgba(255,255,255,0.55);}
    90% {background-color: rgba(200,200,200,0.75);}
    100% {background-color: rgba(0,0,0,0.75);}
}
@-moz-keyframes skylight {
    0% {background-color: rgba(0,0,0,0.75);}
    10% {background-color: rgba(200,200,200,0.75);}
    20% {background-color: rgba(255,255,255,0.55);}
    50% {background-color: rgba(255,255,255,0.25);}
    80% {background-color: rgba(255,255,255,0.55);}
    90% {background-color: rgba(200,200,255,0.75);}
    100% {background-color: rgba(0,0,0,0.75);}
}

.sun {
    width: 80px;
    height: 80px;
    display: block;
    position: absolute;

    z-index:199;
    background-color: gold;
    
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    
    box-shadow: 0px 0 100px gold;
    -moz-box-shadow: 0px 0 100px gold;
    -webkit-box-shadow: 0px 0 100px gold;
    
    -webkit-animation-name: sunshine;
    -webkit-animation-duration: 30s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: sunshine;
    -moz-animation-duration: 30s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
}
@-webkit-keyframes sunshine {
    0% {top:330px;left:10%;background-color: red;}
    20% {top:225px;left:26%;background-color:gold;}
    40% {top:100px;left:42%;background-color: rgba(255,255,255,0.75);}
    60% {top:100px;left:58%%;background-color:rgba(255,255,255,0.75);}
    80% {top:225px;left:74%;background-color: gold;}
    100% {top:330px;left:90%;background-color: red;}
}
@-moz-keyframes sunshine {
    0% {top:330px;left:10%;background-color: red;}
    20% {top:225px;left:26%;background-color:gold;}
    40% {top:100px;left:42%;background-color: rgba(255,255,255,0.75);}
    60% {top:100px;left:58%%;background-color:rgba(255,255,255,0.75);}
    80% {top:225px;left:74%;background-color: gold;}
    100% {top:330px;left:90%;background-color: red;}
}

.horizon {
    width: 100%;
    height: 300px;
    margin-top: 250px;
    background: transparent url(/static/ground.png) repeat-x bottom center;
    z-index: 200;
}


/*****************************************************************************/
/*
/* 首页分类设定
/*
/*****************************************************************************/

.index-category {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;

    column-rule: 1px solid white;
    -moz-column-rule: 1px solid white;
    -webkit-column-rule: 1px solid white;
    
    column-gap: 5px;
    -moz-column-gap: 5px;
    -webkit-column-gap: 5px;
}


/*****************************************************************************/
/*
/* 评论设定
/*
/*****************************************************************************/
#uyan_frame {
    padding: 20px 15px;
    border-top: 10px dotted gray;
}

/*****************************************************************************/
/*
/* 404的设定
/*
/*****************************************************************************/

.layer {
    background: transparent url(/static/404.png) no-repeat;
}

/*****************************************************************************/
/*
/* 营销相关的设定
/*
/*****************************************************************************/

.hao123 {
    margin-top: -20px;
    width: 100%;
    height: 100%;
    display: block;
    
    position: fixed;
    z-index: 100;
}

.to-left,
.to-right {
    display: block;
    width: 110px;
    height: 65px;
    top: 25%;
    position: fixed;
    z-index: 101;

    padding: 0;
}

.to-left {
    float: left;
    left: 0px;
}

.to-left a {
    display: block;
    height: 65px;
    background: url(/static/operation.png) -100px -420px;

    transition: all 0s ease-out;
    -moz-transition: all 0s ease-out;
    -webkit-transition: all 0s ease-out;
    -o-transition: all 0s ease-out;
}
.to-left a:hover {
    background: url(/static/operation.png) -100px -489px;

    
}
.to-right {
    float: right;
    right: 0px;
}
.to-right a {
    display: block;
    height: 65px;
    background: url(/static/operation.png) 3px -420px;

    transition: all 0s ease-out;
    -moz-transition: all 0s ease-out;
    -webkit-transition: all 0s ease-out;
    -o-transition: all 0s ease-out;
}

.to-right a:hover {
    background: url(/static/operation.png) 3px -489px;
}

.overlay {
    opacity: 0;
    background: none repeat scroll 0% 0% rgba(39, 159, 196, 0.85);
    transition: opacity 0.25s ease 0s;
}
.overlay:hover {
    opacity: 0.8;
}

.to-hot {
    display: none;
    z-index: 101;
}

