<!DOCTYPE html>
<html>

    {% include head.html %}
    
  <body>

      {% include header.html %}
      
      {{ content }}
      
    <script data-main="{{ site.themes | prepend: site.baseurl }}/javascript/main" src="{{ site.themes  | prepend: site.baseurl}}/javascript/require.js" defer async="true"></script>
    
  </body>
</html>
