---
layout: default
---
<div class="post">

  <header class="page-header">
    <h1>{{ page.title }}</h1>
  </header>

  <article class="page-content">
    {{ content }}
  </article>  

  {% include footer.html %}
</div>
